@using ABCo.Multicam.Client.ViewModels.Hosting;
@inherits VMBoundComponent<IServerHostingVM>

<div class="hosting firstOnARow btnLikeHighlight" @onclick=VM.ToggleHostingMenu>
	<p>No devices synced</p>
</div>