.activeView {
    text-align: center;
}

.intro {
    margin-bottom: 5px;
}

.realLink {
    font-size: 180%;
}

.outro {
    margin-top: 5px;
    font-style: italic;
    color: var(--col-foreground-darker);
}