@using ABCo.Multicam.Client.ViewModels.Hosting;
@inherits VMBoundComponent<IHostingExecutionVM>

<div class="section activeView">
	<p class="intro">Connect devices using this link:</p>
	<a class="realLink" href="@VM.LinkHyperlink">@VM.LinkText</a>
	<p class="outro">http:// at the start is optional.</p>
</div>
