@using ABCo.Multicam.Core.Features;
@using ABCo.Multicam.UI.Blazor.Views.Features.Switcher
@using ABCo.Multicam.UI.Blazor.Views.Features.Switcher.Editor
@using ABCo.Multicam.UI.ViewModels.Features;
@using ABCo.Multicam.UI.ViewModels.Features.Switcher;
@inherits VMBoundComponent<IProjectFeaturesListItemVM>

<div class="editor">
	<div class="rightBorder"></div>
	<div class="content">
		<div class="titlebar">
			<FeatureEditPanelTitle VM="VM.Feature" />
			<a class="close btn btnIcon" @onclick=VM.ToggleEdit><img src="_content/ABCo.Multicam.UI.Blazor/img/icons/smallCloseButton.svg" /></a>
		</div>

		<hr class="titlebarSeparator" />

		<div class="sharedContent section">
			<p class="sectionTitle">General Info</p>

			<div class="grid sharedGrid">
				<p class="gridTitle titleTag">Title:</p>
				<FeatureEditPanelTextBox VM="VM.Feature" />

				<p class="gridTitle posTag">Position:</p>
				<a class="btn btnNormal moveUpBtn" @onclick=VM.MoveUp>Move Up</a>
				<a class="btn btnNormal moveDownBtn" @onclick=VM.MoveDown>Move Down</a>
			</div>
		</div>

		@if (VM.Feature.Content is SwitcherFeatureVM switcherVM)
		{
			<SwitcherEditor VM="switcherVM" />
		}

		<hr class="sectionSeparator" />

		<div class="deleteBtn section">
			<a class="btn btnHyperlink btnRedHint deleteBtn" @onclick=VM.Delete>Delete Feature</a>
		</div>
	</div>
</div>