@using ABCo.Multicam.Core.Features;
@using ABCo.Multicam.UI.Blazor.Views.Features.Switcher
@using ABCo.Multicam.UI.ViewModels.Features;
@using ABCo.Multicam.UI.ViewModels.Features.Switcher;
@inherits AnimBasedVMBoundComponent<ProjectFeaturesVM>

<div class="featureView">
	<div class="options">
		<div class="connection">
			<p>No devices synced</p>
		</div>

		<div class="optionsRow">

		</div>
	</div>

	@if (VM.MobileView != null)
	{
		<div class="mobileView @MobileViewClasses">
			<FeatureMobileView VM="VM.MobileView" />
		</div>
	}

	<ul class="items">
		@foreach (var item in VM.Items)
		{
			<li class="item">
				<FeatureViewItem VM="item" />
			</li>
		}

		<li class="item" style="margin-top: 50px;">
			<div class="strip"></div>
			<a class="content newBtn btn btnDashed" @onclick="e => VM.CreateFeature(new(e.ClientX, e.ClientY))">New Feature</a>
		</li>
	</ul>
</div>

@code {
	// Animation code for mobile view menu
	string MobileViewClasses = "";

	public override async Task PerformAnimationAndDelay(string propertyName)
	{
		if (VM.MobileView != null)
		{
			if (propertyName == nameof(ProjectFeaturesVM.MobileView))
			{
				MobileViewClasses = "noInteraction slideOut";
				StateHasChanged();
				await Task.Delay(200);
			}
		}
		else MobileViewClasses = "";

		await Task.CompletedTask;
	}
}