.sharedContent .sharedGrid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
        "titleTag titleBox titleBox"
        "posTag moveUpBtn moveDownBtn";
    gap: 10px;
    align-items: center;
}

.titleTag { grid-area: titleTag; }

.posTag {
    grid-area: posTag;
}

.moveUpBtn {
    grid-area: moveUpBtn;
}

.moveDownBtn {
    grid-area: moveDownBtn;
}

.deleteBtn {
    float: right;
}