@keyframes newItemSlideDown {
    0% {
        clip-path: inset(0px 100% 0px 0px);
    }
    100% {
        clip-path: inset(0px 0px 0px 0px);
    }
}

.items {
    position: relative;
    grid-area: items;
    padding-left: 10px;
}

::deep .item {
    display: grid;
    grid-template-columns: 60px 6px 1fr;
    grid-template-areas: "edit strip contents";
    margin: 20px 0;
    animation: newItemSlideDown 0.2s ease-out;
    min-height: 50px;
}

::deep .item .strip {
    grid-area: strip;
    width: 100%;
    height: 100%;
    background-color: var(--col-accent);
}

::deep .item .content {
    grid-area: contents;
    margin-left: 10px;
    width: calc(100% - 66px);
    max-width: max-content;
}

::deep .item .edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep .item .edit p {
    transform: rotate(-90deg);
}
