@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.ViewModels.Features.Switcher;
@inherits VMBoundComponent<SwitcherFeatureVM>

<SwitcherConnectionStrip VM="(SwitcherConnectionVM)VM.Connection" />

@if (VM.MixBlocks.Length == 0)
{
	<p>Connect to the device to load buses.</p>
}
<ul class="mixBlocks">

	@foreach (var mixBlock in VM.MixBlocks!)
	{
		<li>
			<SwitcherMixBlock VM="(SwitcherMixBlockVM)mixBlock" />
		</li>
	}
</ul>