@using ABCo.Multicam.Client.ViewModels.Features.Switcher.Types;
@inherits VMBoundComponent<SwitcherDummyConfigVM>

<div class="grid">
	<p class="gridTitle">Mix Block Count:</p>
	<select class="combo mixBlockCount" value="@VM.SelectedMixBlockCount" @onchange="e => { VM.SelectedMixBlockCount = (string)e.Value!; VM.MixBlockCountChange(); }">
		@foreach (var item in VM.MixBlockCountOptions)
		{
			<option>@item</option>
		}
	</select>
</div>

<ul class="mixBlocks">
	@foreach (var item in VM.MixBlockVMs)
	{
		<li class="indexedListItem">
			<DummyMBConfigEditor VM="(DummySwitcherConfigMixBlockVM)item" />
		</li>
	}
</ul>

@code {

}
