@using ABCo.Multicam.Client.ViewModels.Features.Switcher;
@inherits VMBoundComponent<SwitcherFeatureVM>

<hr class="sectionSeparator" />

<div class="section">
	<p class="sectionTitle">Switcher Settings</p>

	@if (VM.Config != null)
	{
		<SwitcherConfigEditor VM="VM.Config" />
	}
</div>

<hr class="sectionSeparator" />
<div class="section">
	<p class="sectionTitle">Appearance Preferences</p>

	<div class="grid">
	</div>
</div>

@code {

}
