

.sidePanel {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--col-panelback);
    display: grid;
    grid-template-columns: 1fr 3px;
    grid-template-rows: 100%;
    grid-template-areas: "content rightBorder";
}

.sidePanel .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    /*overflow-x: hidden;*/
}

.sidePanel .scrollArea {
    overflow-y: auto;
}

.sidePanel .rightBorder {
    grid-area: rightBorder;
    background: var(--gradient-vertical);
    height: 100%;
}