@using ABCo.Multicam.Client.Presenters;
@using ABCo.Multicam.Client.ViewModels;
@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.Blazor.Views.Features;
@inherits VMBoundComponent<IMainUIVM>

<!--<div class="sidePanel">
    <div class="rightBorder"></div>
    <div class="content">
        <div class="appWideTitlebar titlebar">
            <p class="title">@VM.MenuTitle</p>
            <a class="close btn btnIcon" @onclick=VM.><img src="_content/ABCo.Multicam.Client.Blazor/img/icons/smallCloseButton.svg" /></a>
        </div>

        <hr class="appWideTitlebarSeparator titlebarSeparator" />

        <div class="scrollArea">
            @if (VM.MenuVM is SwitcherListItemVM listViewItem)
            {
                <FeatureEditPanel VM="listViewItem" />
            }
            else if (VM.MenuVM is IServerHostingVM hostingVM)
            {
                <HostingEditPanel VM="hostingVM" />
            }
        </div>
    </div>
</div>-->
