@using ABCo.Multicam.Client.ViewModels.General
@typeparam TContent
@inherits VMBoundComponent<INamedMovableListItemVM<TContent>>

<a class="btnDropDown btnLikeHighlight editBtn" @onclick="e=>VM.OpenGeneralEditMenu(new(e.ClientX, e.ClientY + (30 - e.OffsetY)))">
    Edit
    <img src="_content/ABCo.Multicam.Client.Blazor/img/icons/smallDownArrow.svg" />
</a>