@using ABCo.Multicam.UI.Enumerations;
@using ABCo.Multicam.UI.ViewModels.Features.Switcher;
@inherits VMBoundComponent<ISwitcherButtonVM>

<div class="btn btnSwitcher @ColorClass" @onclick=VM.Click>
	<p>@VM.Text</p>
</div>

@code {
	public string ColorClass => VM.Status switch
	{
		SwitcherButtonStatus.ProgramActive => "colorProgram",
		SwitcherButtonStatus.PreviewActive => "colorPreview",
		_ => "colorNeutral"
	};
}
