@using ABCo.Multicam.UI.Blazor;
@using ABCo.Multicam.UI.ViewModels.Features.Switcher;
@using ABCo.Multicam.UI.ViewModels.Features;
@inherits VMBoundComponent<SwitcherConnectionVM>

<div class="top">
	<FeatureTitle VM="OuterVM" />

	<p class="linkText">@VM.StatusText</p>

	@if (VM.ShowConnectionButton)
	{
		<a class="connectBtn hyperlink" @onclick=VM.ToggleConnection>@VM.StatusButtonText</a>
	}
</div>

@code {
	[Parameter]
	public IFeatureVM OuterVM { get; set; } = null!;
}