@using ABCo.Multicam.Client.ViewModels.Scripting.Execution
@inherits VMBoundComponent<ILoadedScriptVM>

<div class="btn btnNormal" @onclick="e => VM.ToggleExecution()">
	<a>@StartStopText</a>
</div>

@code {
	string StartStopText => VM.IsRunning ? "Stop" : "Run";
}