@using ABCo.Multicam.Client.ViewModels.Frames;
@inherits VMBoundComponent<IHomePageLinkVM>

<li class="btnLikeHighlight" @onclick=VM.Select>
	<p>@VM.Name</p>
	<div class="rightArrow"><img src="_content/ABCo.Multicam.Client.Blazor/img/icons/smallRightArrow.svg" /></div>
</li>