.home {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "logo"
        "features"
        "_"
        "management";

    height: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.menu hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.itemsFeatures { grid-area: features; }
.itemsManagement { grid-area: management; margin-bottom: 10px; }

.selectedPage {
    grid-area: content;
    max-width: 100%;
    overflow-x: auto;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    grid-area: logo;
}

.abcoLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0px;
    margin: 10px 0 0 0;
}

.abcoLogo img {
    height: 20px;
}

.abcoLogo .abcoMulticamText {
    margin-left: 2px;
    font-size: 27px;
    margin-top: -5px;
}
