@using ABCo.Multicam.Client.Blazor.Views
@using ABCo.Multicam.Client.Blazor.Views.Features
@using ABCo.Multicam.Client.Blazor.Views.Features.Switchers
@using ABCo.Multicam.Client.Presenters;
@using ABCo.Multicam.Client.Presenters.Features.Switchers;
@using ABCo.Multicam.Client.ViewModels;
@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.ViewModels.Frames;
@inherits VMBoundComponent<IPageSwitcherVM>

<div class="frame">
	<!-- Menu -->
	<div class="menu">
		<div class="rightBorder"></div>
		<div class="content">
			<!-- Logo -->
			<div class="logo">
				<div class="abcoLogo">
					<img src="_content/ABCo.Multicam.Client.Blazor/img/branding/ABCo_Logo_v2_White.svg" />
					<p class="abcoMulticamText">Multicamera Platform</p>
				</div>
			</div>

			<!-- List Items: Support -->
			<div class="items itemsSupport">
				<hr class="outlineHorizontalSeparator" />
				<ul>
					@foreach (var itm in VM.TopTabs)
					{
						<PageSwitcherMenuItem VM="itm" />
					}
				</ul>
				<hr class="outlineHorizontalSeparator" />
			</div>

			<!-- List Items: Features -->
			<div class="items itemsFeatures">
				<ul>
					@foreach (var itm in VM.MiddleTabs)
					{
						<PageSwitcherMenuItem VM="itm" />
					}
					<!--<li class="btnLikeHighlight"><p>Switchers / Video Devices</p></li>
					<li class="btnLikeHighlight"><p>Digital Tally</p></li>
					<li class="btnLikeHighlight"><p>Cut Recording</p></li>
					<li class="btnLikeHighlight"><p>Text Messaging</p></li>
					<li class="btnLikeHighlight"><p>Audio Communication</p></li>
					<li class="btnLikeHighlight"><p>Scenes</p></li>
					<li class="btnLikeHighlight"><p>Cues</p></li>-->
				</ul>
			</div>

			<!-- List Items: Management -->
			<div class="items itemsManagement">
				<hr class="outlineHorizontalSeparator" />
				<ul>
					@foreach (var itm in VM.BottomTabs)
					{
						<PageSwitcherMenuItem VM="itm" />
					}
				</ul>
			</div>
		</div>
	</div>

	<!-- Page Content -->
	<div class="selectedPage">
		@if (VM.SelectedPage is ISwitcherListVM vm)
		{
			<SwitcherView VM="vm" />
		}
	</div>
</div>