@using ABCo.Multicam.Client.Blazor
@using ABCo.Multicam.Client.Presenters.Features.Switchers;
@inherits VMBoundComponent<ISwitcherMixBlocksVM>

@if (VM.MixBlocks.Length == 0)
{
    <div class="noMixBlocks listItemContentStrip">
        <p>Connect to the device to load buses.</p>
    </div>
}
else
{
    <ul class="mixBlocks">

        @foreach (var mixBlock in VM.MixBlocks)
        {
            <li class="listItemContentStrip">
                <SwitcherMixBlock VM="mixBlock" />
            </li>
        }
    </ul>
}