.grid {
    display: grid;
    gap: 10px;

    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "mixBlockTitle _"
        "programTag _"
        "programInputs control"
        "previewTag __"
        "previewInputs __";

    align-items: center;
}

.mixBlockTitle { grid-area: mixBlockTitle; font-weight: bold; font-size: 125%; }
.programTag { grid-area: programTag; }
.previewTag { grid-area: previewTag; }

.programInputs { 
    grid-area: programInputs; 
}

.previewInputs {
    grid-area: previewInputs;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.control {
    grid-area: control;
    padding-left: 20px;
}