@using ABCo.Multicam.Client.Presenters.Features.Switchers;
@using ABCo.Multicam.Client.ViewModels.Features;
@inherits VMBoundComponent<ISwitcherVM>

<div class="content">
	<div class="top">
		<SwitcherTypeStrip VM="VM.Config" />
	</div>
	<SwitcherMixBlocks VM="VM.MixBlocks" />
</div>