@using ABCo.Multicam.Client.Blazor;
@using ABCo.Multicam.Client.Presenters.Features.Switchers;
@using ABCo.Multicam.Client.ViewModels.Features.Switcher;
@using ABCo.Multicam.Client.ViewModels.Features;
@inherits VMBoundComponent<ISwitcherConnectionVM>

<div class="top">
	<p class="linkText">@VM.StatusText</p>

	@if (VM.ShowConnectionButton)
	{
		<a class="connectBtn hyperlink" @onclick=VM.ToggleConnection>@VM.StatusButtonText</a>
	}
</div>