.mobileView {
    display: grid;
    grid-auto-rows: auto auto 1fr;
    height: 100%;
}

.content {
    padding: 10px;
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box;
}

.editBtn {
    padding-right: 5px;
}

::deep .content .rawFeatureTitle {
    display: none;
}