@using ABCo.Multicam.Client.Blazor.Views.Features.Switcher
@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.ViewModels.Features.Switcher;
@inherits VMBoundComponent<IProjectFeaturesListItemVM>

<!-- Mobile appearance -->
<div class="mobile">
	<div class="strip"></div>
	<div class="content btnLikeHighlight" @onclick=VM.OpenMobileView>
		<p class="featureTitle">New Switcher</p>
		<div class="rightArrow"><img src="_content/ABCo.Multicam.Client.Blazor/img/icons/smallRightArrow.svg" /></div>
	</div>
</div>

<!-- Desktop appearance -->
<div class="desktop">
	<div class="edit btn btnBlueHint" @onclick="VM.ToggleEdit">
		<p>@VM.EditBtnText</p>
	</div>

	<div class="strip"></div>
	<div class="content">
		@if (VM.Feature.Content is SwitcherFeatureVM switcherVM)
		{
			<SwitcherFeature OuterVM="@VM.Feature" VM="switcherVM" />
		}
		else
		{
			<p>Unsupported feature!</p>
		}
	</div>
</div>