@using ABCo.Multicam.Client.Blazor.Views.Hosting
@using ABCo.Multicam.Client.Presenters.Features.Switchers;
@using ABCo.Multicam.Client.ViewModels.Hosting;
@using ABCo.Multicam.Server.Features;
@using ABCo.Multicam.Client.Blazor.Views.Features.Switchers
@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.ViewModels.Features.Switcher;
@inherits VMBoundComponent<ISwitcherListVM>

<div class="switcherView">
	<!-- Switcher List -->
	<ul class="items">
		@foreach (var item in VM.Items)
		{
			<li class="item">
				<SwitcherViewItem VM="item" />
			</li>
		}

		<li class="item addItem btnLikeHighlight" @onclick="e => VM.CreateFeature()">
			<a class="addSwitcher">
				New Switcher
			</a>
		</li>
	</ul>
</div>