@using ABCo.Multicam.UI.Blazor.Views.Features
@using ABCo.Multicam.UI.Blazor.Views.Menus
@using ABCo.Multicam.UI.Services;

<!-- Content -->
<main>
    <Index />
</main>

<!-- Menu -->
<MenuHandler />