@using ABCo.Multicam.Server.General;
@using ABCo.Multicam.Server;
@using ABCo.Multicam.Client.Blazor.Views.Menus
@using ABCo.Multicam.App.Win32.Services;
@using ABCo.Multicam.Client.Presenters;
@using ABCo.Multicam.Client.ViewModels;
@inject IClientInfo clientInfo

@{
    // If we're using Blazor's dispatcher for this client, associate this with it.
    if (clientInfo.Dispatcher is BlazorMainThreadDispatcher disp)
        disp.Associate(InvokeAsync);

    var mainVM = new MainUIVM(clientInfo);
}

<!-- Content -->
<main>
    <MainView VM="mainVM" />
</main>