@using ABCo.Multicam.Server.General;
@using ABCo.Multicam.Server;
@using ABCo.Multicam.Client.Blazor.Views.Menus
@using ABCo.Multicam.App.Win32.Services;
@using ABCo.Multicam.Client.Presenters;
@using ABCo.Multicam.Client.ViewModels;
@inject IClientInfo clientInfo

@{
	((BlazorMainThreadDispatcher)clientInfo.Dispatcher).Associate(InvokeAsync);

	var presenter = clientInfo.Get<IMainUIPresenter>();
	presenter.Init();
}

<!-- Content -->
<main>
	@if (presenter.VM != null)
	{
		<MainView VM="presenter.VM" />
	}
</main>

<!-- Menu -->
<MenuHandler />