@keyframes editPanelSlideIn {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes editPanelSlideOut {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -400px;
    }
}

.mainView {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/*.mainView {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto 1fr;
    grid-template-areas: "panel content";
}*/