@using ABCo.Multicam.Client.Blazor.Views
@using ABCo.Multicam.Client.Presenters;
@using ABCo.Multicam.Server.Features;
@using ABCo.Multicam.Client.Presenters.Features;
@using ABCo.Multicam.Client.ViewModels;
@using ABCo.Multicam.Client.Blazor.Views.Features;
@using ABCo.Multicam.Client.Blazor.Views.Menus;
@using ABCo.Multicam.Client.ViewModels.Features;
@inherits VMBoundComponent<IMainUIVM>

<div class="mainView">

	<PageSwitcher VM="VM.PageSwitcher" />

</div>

<!-- Menu -->
<PopOutViewer VM="VM.PopOut" />