.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "tag1 item1";

    align-items: center;

    gap: 10px;
}

.gridTag1 { grid-area: tag1; }
.gridTag2 { grid-area: tag2; }
.inner {
    margin-top: 10px;
}