@using ABCo.Multicam.Core.General;
@using ABCo.Multicam.Core;
@using ABCo.Multicam.UI.Blazor.Views.Menus
@using ABCo.Multicam.UI.Blazor.Win32.Services;
@using ABCo.Multicam.UI.Presenters;
@using ABCo.Multicam.UI.ViewModels;
@inject IClientInfo clientInfo

@{
	((BlazorMainThreadDispatcher)clientInfo.Dispatcher).Associate(InvokeAsync);

	var presenter = clientInfo.Get<IMainUIPresenter>();
	presenter.Init();
}

<!-- Content -->
<main>
	@if (presenter.VM != null)
	{
		<MainView VM="presenter.VM" />
	}
</main>

<!-- Menu -->
<MenuHandler />