@keyframes editPanelSlideIn {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes editPanelSlideOut {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -400px;
    }
}

.mainView {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "panel items";
    width: 100%;
    height: 100%;
}

.sidePanel {
    width: 400px;
    grid-area: panel;
    animation: editPanelSlideIn 0.2s ease-out;
}

.slideOut {
    animation: editPanelSlideOut 0.2s ease-out forwards;
}