@using ABCo.Multicam.Server.Features;
@using ABCo.Multicam.UI.Presenters.Features;
@using ABCo.Multicam.UI.ViewModels;
@using ABCo.Multicam.UI.Blazor.Views.Features;
@using ABCo.Multicam.UI.Blazor.Views.Menus;
@using ABCo.Multicam.UI.ViewModels.Features;
@inherits AnimBasedVMBoundComponent<IMainUIVM>

<div class="mainView">

	<!-- Side Menu -->
	@if (VM.MenuVM != null)
	{
		<div class="sidePanel @SidePanelClasses">
			<SidePanel VM="VM" />
		</div>
	}

	<!-- Main Content -->
	<div class="content">
		@if (VM.ContentVM != null)
		{
			<FeatureView VM="VM.ContentVM" />
		}
	</div>
</div>

@code {
	// Animation code for side panel
	string SidePanelClasses = "";

	public override async Task PerformAnimationAndDelay(string propertyName)
	{
		if (VM.MenuVM != null)
		{
			if (propertyName is nameof(IMainUIVM.MenuVM) or nameof(IMainUIVM.MenuTitle))
			{
				SidePanelClasses = "noInteraction slideOut";
				StateHasChanged();
				await Task.Delay(200);
			}
		}
		else SidePanelClasses = "";

		await Task.CompletedTask;
	}
}