@using ABCo.Multicam.UI.ViewModels.Features.Switcher;
@inherits VMBoundComponent<SwitcherMixBlockVM>

<div class="grid">
	<p class="programTag">Program</p>
	<p class="previewTag">Preview</p>

	<ul class="inputs buttonRow programInputs">
		@foreach (var input in VM.ProgramBus)
		{
			<li>
				<SwitcherButton VM="input" />
			</li>
		}
	</ul>

	<ul class="inputs buttonRow previewInputs">
		@foreach (var input in VM.PreviewBus)
		{
			<li>
				<SwitcherButton VM="input" />
			</li>
		}
	</ul>

	<ul class="control buttonRow">
		<li>
			<SwitcherButton VM="VM.CutButton" />
		</li>
	</ul>
</div>

@code {

}