@using ABCo.Multicam.Core.Features.Switchers;
@using ABCo.Multicam.Core.Features.Switchers.Data.Config;
@using ABCo.Multicam.UI.ViewModels.Features.Switcher;
@using ABCo.Multicam.UI.ViewModels.Features.Switcher.Config.ATEM;
@using ABCo.Multicam.UI.ViewModels.Features.Switcher.Types;
@inherits VMBoundComponent<ISwitcherConfigVM>

<div class="grid">
	<p class="gridTitle gridTag1">Type:</p>
	<select class="combo" value="@VM.SelectedItem" @onchange="e => { VM.SelectedItem = (string)e.Value!; VM.UpdateSelectedItem(); }">
		@foreach (var opt in VM.Items)
		{
			<option>@opt</option>
		}
	</select>
</div>

<div class="inner">
	@if (VM.CurrentConfig is SwitcherDummyConfigVM dummyConfig)
	{
        <DummyConfigEditor VM="dummyConfig" />
    }
    else if (VM.CurrentConfig is SwitcherATEMConfigVM atemConfig)
    {
		<ATEMConfigEditor VM="atemConfig" />
	}
</div>