@using ABCo.Multicam.Client.Blazor.Views.Features.Switchers.Content
@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.ViewModels.Features.Switchers;
@inherits VMBoundComponent<ISwitcherListItemVM>

<!-- Desktop appearance -->
<div class="item">
	<div class="titlebar">
		<div class="title">
			<p class="rawFeatureTitle">@VM.Name</p>
		</div>
		<a class="btnDropDown btnLikeHighlight" @onclick="e=>VM.OpenGeneralEditMenu(new(e.ClientX, e.ClientY + (40 - e.OffsetY)))">
			Edit
			<img src="_content/ABCo.Multicam.Client.Blazor/img/icons/smallDownArrow.svg" />
		</a>
	</div>
	<div class="bordered">
		<div class="content">
			<SwitcherContent VM="VM.Switcher" />
		</div>
	</div>
</div>