@using ABCo.Multicam.Client.Blazor;
@using ABCo.Multicam.Client.Presenters.Features.Switchers;
@using ABCo.Multicam.Server.Features;
@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.ViewModels.Features.Switcher;
@inherits VMBoundComponent<ISwitcherListVM>

<ul class="globalListView">
	@foreach (var item in VM.Items)
	{
		<SwitcherViewItem VM="item" />
	}

	<li class="item addItem btnLikeHighlight" @onclick="e => VM.CreateSwitcher()">
		<a>New Switcher</a>
	</li>
</ul>