@using ABCo.Multicam.Client.Blazor
@using ABCo.Multicam.Client.Blazor.Views.Features.Switchers.Content
@using ABCo.Multicam.Client.Blazor.Views.General.ListItem
@using ABCo.Multicam.Client.ViewModels.Features;
@using ABCo.Multicam.Client.ViewModels.Features.Switchers;
@inherits VMBoundComponent<ISwitcherListItemVM>

<!-- Desktop appearance -->
<div class="globalListViewItem">
	<div class="titlebar">
		<NamedListItemTitle VM="VM" />
		<NamedListItemEditButton VM="VM" />
	</div>
	<div class="bordered">
		<SwitcherContent VM="VM.Switcher" />
	</div>
</div>